COMPOSE_PROJECT_NAME=slt-cargopay-platform
APP_VERSION=replace-me-immutable-tag
CUSTOMER_TEMPLATE_KEY=slt-cargopay
IMAGE_PREFIX=slt-cargopay-platform
ENV_DIR=/var/www/slt-cargopay-platform/env
BUILD_SECRET_FILE=/var/www/slt-cargopay-platform/env/build.env
APP_ROOT=/var/www/slt-cargopay-platform
APP_USER=slt-cargopay
PUBLIC_HOST=51.255.163.171
PUBLIC_IP=51.255.163.171
WEB_LOOPBACK_PORT=3100
WORKER_LOOPBACK_PORT=3101
MINIO_API_LOOPBACK_PORT=9000
MINIO_CONSOLE_LOOPBACK_PORT=9001
TLS_CERTIFICATE=/etc/letsencrypt/live/51.255.163.171/fullchain.pem
TLS_CERTIFICATE_KEY=/etc/letsencrypt/live/51.255.163.171/privkey.pem
NGINX_SITE_AVAILABLE=/etc/nginx/sites-available/slt-cargopay
NGINX_SITE_ENABLED=/etc/nginx/sites-enabled/slt-cargopay
MIN_FREE_MEMORY_MB=2048
OPERATOR_EMAIL=replace-me@example.com
OPERATOR_NAME=Operator
