COMPOSE_PROJECT_NAME=rzwire-platform
APP_VERSION=replace-me-immutable-tag
CUSTOMER_TEMPLATE_KEY=rzwire
IMAGE_PREFIX=rzwire-platform
ENV_DIR=/var/www/rzwire-platform/env
BUILD_SECRET_FILE=/var/www/rzwire-platform/env/build.env
APP_ROOT=/var/www/rzwire-platform
APP_USER=rzwire
PUBLIC_HOST=rzwire.rzprime.com
PUBLIC_IP=137.74.160.38
WEB_LOOPBACK_PORT=3100
WORKER_LOOPBACK_PORT=3101
MINIO_API_LOOPBACK_PORT=9000
MINIO_CONSOLE_LOOPBACK_PORT=9001
TLS_CERTIFICATE=/etc/letsencrypt/live/rzwire.rzprime.com/fullchain.pem
TLS_CERTIFICATE_KEY=/etc/letsencrypt/live/rzwire.rzprime.com/privkey.pem
NGINX_SITE_AVAILABLE=/etc/nginx/sites-available/rzwire.rzprime.com
NGINX_SITE_ENABLED=/etc/nginx/sites-enabled/rzwire.rzprime.com
MIN_FREE_MEMORY_MB=2048
OPERATOR_EMAIL=replace-me@example.com
OPERATOR_NAME=Operator
